.App {
  text-align: center;
  background-color: lightblue;
  width: 100vw;
  height: 100vh;
}

.holder {
  height: 100%;
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.submit-card {

  width: 20%;
}

.progress {

  width: 30%;
  background-color: salmon;
}

.list-card {

  width: 35%;
}

.mapped-cards {
  height: 100%;
  width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

