.App {
  text-align: center;

  width: 100vw;
  height: 100vh;
}

.holder {
  height: 100%;
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.submit-card {
  height: 60%;
  width: 20%;
}

.progress {
  height: 49%;
  width: 30%;
  display: flex;
  /* background-image: url(./media/background.JPG);
  background-size: cover;
  position: relative; */
}
/* .treasure-box1 {
  position:absolute;
  left: 150px;
  top: 10px;
}
.diamond {
  position:absolute;
  left: 30px;
  top: 170px;
}
.pizza {
  position:absolute;
  left: 100px;
  top: 65px;
}
.egg {
  position:absolute;
  left: 120px;
  top: 120px;
}
.cash {
  position:absolute;
  left: 300px;
  top: 20px;
}
.yacht {
  position:absolute;
  left: 0px;
  top: 300px;
} */
.list-card {
  height: 60%;
  width: 35%;
}

.mapped-cards {
  height: 100%;
  width: 100%;
}

/* .card-elements {
	display: grid;
  grid-template-columns: 1fr 1fr;

} */

.balance {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.render {
  font-weight: 1 !important;
}

.card-labels {
  width: 100%;
  font-weight: bold;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.card-number {
  display: flex;
}

.submitted-cards {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.progress-bar {
  position: relative;
  height: 20px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid black;
}

.filler {
  background: gold;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
  line-height: 20px;

}

.progress-bar-wealth {
  padding-top: 10px;
  padding-left: auto;
  padding-right: auto;
}

